*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: rgb(70, 64, 64);
}
.container{
    background: rgb(174, 170, 170);
   
    width: 80vw;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns:5fr 3fr ;
}
.img{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.img img {
    max-width: 45vw;
    max-height: 60vw;
}
.img img , canvas{
    max-width: 45vw;
    max-height: 60vw;
}
.upload input{
    display: none;
}
.upload label{
    color: antiquewhite;
    padding: 8px 20px;
    border: 2px rgb(202, 192, 178);
    cursor: pointer;
}
.filters ul,.filters ul li{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}
.filters ul li label{
   color: antiquewhite;
}
.filters ul li:last-child{
    flex-direction: row;
    justify-content: space-around;
}
.filters ul li a,span{
    color: aliceblue;
    padding: 10px 20px;
    cursor: pointer;
    background: green;
}
@media screen and (max-width:650px){
    .container{
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .img img , canvas{
        max-width: 80vw;
    }
}